In [1]:
#Creating a list of IMDB's top 100 movies titles

from bs4 import BeautifulSoup
import requests

In [2]:
page = requests.get('https://www.imdb.com/list/ls055592025/')
head= BeautifulSoup(page.content,"html.parser")

In [3]:
#scraping names of the movies

names =[]

for i in head.find_all('h3',class_="lister-item-header"):
    names.append(i.get_text().strip("\n").replace("\n","").split("(")[0])
    

names

['1.The Godfather',
 '2.The Shawshank Redemption',
 "3.Schindler's List",
 '4.Raging Bull',
 '5.Casablanca',
 '6.Citizen Kane',
 '7.Gone with the Wind',
 '8.The Wizard of Oz',
 "9.One Flew Over the Cuckoo's Nest",
 '10.Lawrence of Arabia',
 '11.Vertigo',
 '12.Psycho',
 '13.The Godfather Part II',
 '14.On the Waterfront',
 '15.Sunset Blvd.',
 '16.Forrest Gump',
 '17.The Sound of Music',
 '18.12 Angry Men',
 '19.West Side Story',
 '20.Star Wars',
 '21.2001: A Space Odyssey',
 '22.E.T. the Extra-Terrestrial',
 '23.The Silence of the Lambs',
 '24.Chinatown',
 '25.The Bridge on the River Kwai',
 "26.Singin' in the Rain",
 "27.It's a Wonderful Life",
 '28.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 '29.Some Like It Hot',
 '30.Ben-Hur',
 '31.Apocalypse Now',
 '32.Amadeus',
 '33.The Lord of the Rings: The Return of the King',
 '34.Gladiator',
 '35.Titanic',
 '36.From Here to Eternity',
 '37.Saving Private Ryan',
 '38.Unforgiven',
 '39.Raiders of the Lost Ark',
 '40.Rocky',
 '41.A Streetcar Named Desire',
 '42.The Philadelphia Story',
 '43.To Kill a Mockingbird',
 '44.An American in Paris',
 '45.The Best Years of Our Lives',
 '46.My Fair Lady',
 '47.A Clockwork Orange',
 '48.Doctor Zhivago',
 '49.The Searchers',
 '50.Jaws',
 '51.Patton',
 '52.Butch Cassidy and the Sundance Kid',
 '53.The Treasure of the Sierra Madre',
 '54.Il buono, il brutto, il cattivo',
 '55.The Apartment',
 '56.Platoon',
 '57.High Noon',
 '58.Braveheart',
 '59.Dances with Wolves',
 '60.Jurassic Park',
 '61.The Exorcist',
 '62.The Pianist',
 '63.Goodfellas',
 '64.The Deer Hunter',
 '65.All Quiet on the Western Front',
 '66.Bonnie and Clyde',
 '67.The French Connection',
 '68.City Lights',
 '69.It Happened One Night',
 '70.A Place in the Sun',
 '71.Midnight Cowboy',
 '72.Mr. Smith Goes to Washington',
 '73.Rain Man',
 '74.Annie Hall',
 '75.Fargo',
 '76.Giant',
 '77.Shane',
 '78.The Grapes of Wrath',
 '79.The Green Mile',
 '80.Close Encounters of the Third Kind',
 '81.Nashville',
 '82.Network',
 '83.The Graduate',
 '84.American Graffiti',
 '85.Pulp Fiction',
 '86.Terms of Endearment',
 '87.Good Will Hunting',
 '88.The African Queen',
 '89.Stagecoach',
 '90.Mutiny on the Bounty',
 '91.The Great Dictator',
 '92.Double Indemnity',
 '93.The Maltese Falcon',
 '94.Wuthering Heights',
 '95.Taxi Driver',
 '96.Rear Window',
 '97.The Third Man',
 '98.Rebel Without a Cause',
 '99.North by Northwest',
 '100.Yankee Doodle Dandy']

In [4]:
#scraping year of the movies

year =[]

for i in head.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text)
    
year

['(1972)',
 '(1994)',
 '(1993)',
 '(1980)',
 '(1942)',
 '(1941)',
 '(1939)',
 '(1939)',
 '(1975)',
 '(1962)',
 '(1958)',
 '(1960)',
 '(1974)',
 '(1954)',
 '(1950)',
 '(1994)',
 '(1965)',
 '(1957)',
 '(1961)',
 '(1977)',
 '(1968)',
 '(1982)',
 '(1991)',
 '(1974)',
 '(1957)',
 '(1952)',
 '(1946)',
 '(1964)',
 '(1959)',
 '(1959)',
 '(1979)',
 '(1984)',
 '(2003)',
 '(2000)',
 '(1997)',
 '(1953)',
 '(1998)',
 '(1992)',
 '(1981)',
 '(1976)',
 '(1951)',
 '(1940)',
 '(1962)',
 '(1951)',
 '(1946)',
 '(1964)',
 '(1971)',
 '(1965)',
 '(1956)',
 '(1975)',
 '(1970)',
 '(1969)',
 '(1948)',
 '(1966)',
 '(1960)',
 '(1986)',
 '(1952)',
 '(1995)',
 '(1990)',
 '(1993)',
 '(1973)',
 '(2002)',
 '(1990)',
 '(1978)',
 '(1930)',
 '(1967)',
 '(1971)',
 '(1931)',
 '(1934)',
 '(1951)',
 '(1969)',
 '(1939)',
 '(1988)',
 '(1977)',
 '(1996)',
 '(1956)',
 '(1953)',
 '(1940)',
 '(1999)',
 '(1977)',
 '(1975)',
 '(1976)',
 '(1967)',
 '(1973)',
 '(1994)',
 '(1983)',
 '(1997)',
 '(1951)',
 '(1939)',
 '(1935)',
 '(1940)',
 '(1944)',
 '(1941)',
 '(1939)',
 '(1976)',
 '(1954)',
 '(1949)',
 '(1955)',
 '(1959)',
 '(1942)']

In [5]:
#scraping rating of the movies

ratings =[]

for i in head.find_all('div',class_="ipl-rating-star small"):
    ratings.append(i.text.replace("\n",""))
    
ratings

['9.2',
 '9.3',
 '9',
 '8.2',
 '8.5',
 '8.3',
 '8.2',
 '8.1',
 '8.7',
 '8.3',
 '8.3',
 '8.5',
 '9',
 '8.1',
 '8.4',
 '8.8',
 '8.1',
 '9',
 '7.6',
 '8.6',
 '8.3',
 '7.9',
 '8.6',
 '8.2',
 '8.2',
 '8.3',
 '8.6',
 '8.4',
 '8.2',
 '8.1',
 '8.5',
 '8.4',
 '9',
 '8.5',
 '7.9',
 '7.6',
 '8.6',
 '8.2',
 '8.4',
 '8.1',
 '7.9',
 '7.9',
 '8.3',
 '7.2',
 '8.1',
 '7.8',
 '8.3',
 '7.9',
 '7.9',
 '8.1',
 '7.9',
 '8',
 '8.2',
 '8.8',
 '8.3',
 '8.1',
 '8',
 '8.4',
 '8',
 '8.2',
 '8.1',
 '8.5',
 '8.7',
 '8.1',
 '8.1',
 '7.7',
 '7.7',
 '8.5',
 '8.1',
 '7.7',
 '7.8',
 '8.1',
 '8',
 '8',
 '8.1',
 '7.6',
 '7.6',
 '8.1',
 '8.6',
 '7.6',
 '7.7',
 '8.1',
 '8',
 '7.4',
 '8.9',
 '7.4',
 '8.3',
 '7.7',
 '7.8',
 '7.7',
 '8.4',
 '8.3',
 '8',
 '7.5',
 '8.2',
 '8.5',
 '8.1',
 '7.6',
 '8.3',
 '7.6']

In [6]:
#Making DataFrame

import pandas as pd
df= pd.DataFrame({'Movie_Names':names,'Year':year,'Rating':ratings})
df

                   Movie_Names    Year Rating
0              1.The Godfather  (1972)    9.2
1   2.The Shawshank Redemption  (1994)    9.3
2           3.Schindler's List  (1993)      9
3                4.Raging Bull  (1980)    8.2
4                 5.Casablanca  (1942)    8.5
..                         ...     ...    ...
95              96.Rear Window  (1954)    8.5
96            97.The Third Man  (1949)    8.1
97    98.Rebel Without a Cause  (1955)    7.6
98       99.North by Northwest  (1959)    8.3
99     100.Yankee Doodle Dandy  (1942)    7.6

[100 rows x 3 columns]